.gallery{
    border: 2px solid #FCF7F7;
    background-color: #FCF7F7;
    position:relative;
}

.gallery .item{
    position:absolute;
    overflow-x:hidden;
}

.gallery .item:hover{
    cursor:pointer;
}

.grid{
  float: left;
  margin-left: 190px;
  width: 20px;
  height: 100%;
  background-color: #fff;
}