.gallery{
    margin-top:60px;
    border: 1px solid #ddd;
    background-color: #eee; 
    position:relative;
}

.gallery .item{
    position:absolute;
    overflow-x:hidden;
}
.gallery .item.col4{width:190px;}
.gallery .item.col8{width:400px;}
.gallery .item.col12{width:610px;}
.gallery .item.col16{width:830px;}

.gallery .item:hover{
    cursor:pointer;
}

